# TP1 - Python Fundamentals

## I. Variables & Data Types
#### Exercise 1

In [1]:
import math # You need to import math, to use sqrt, pi and log functions


expressions = [2**3.0 + 4, 2**3 + 4, (2**3.0) + 4, 2**(3.0 + 4),
               True or 4 > 3 and 3 > 4, (True or 4 > 3) and 3 > 4, True or (
                   4 > 3 and 3 > 4),
               5 % 3*5, (5 % 3)*5, 5 % (3*5),
               5//3*5, 5//(3*5), (5//3)*5,
               not False and False, (not False) and False, not (
                   False and False),
               8.6 + 2, int(8.6) + 2, int(8.6) + 2.4, int(8.6 + 2.4),
               2*3, 2.0 * 3, float(2) * 3]

string_expressions = ['2**3.0 + 4', '2**3 + 4',  '(2**3.0) + 4',  '2**(3.0 + 4)',
                      'True or 4>3 and 3>4', '(True or 4>3) and 3>4', 'True or (4>3 and 3>4)',
                      '5%3*5', '(5%3)*5', '5%(3*5)',
                      '5//3*5', '5//(3*5)', '(5//3)*5',
                      'not False and False', '(not False) and False', 'not (False and False)',
                      '8.6 + 2', 'int(8.6) + 2', 'int(8.6) + 2.4', 'int(8.6 + 2.4)',
                      '2*3', '2.0 * 3', 'float(2) * 3']

for expression, string_expression in zip(expressions, string_expressions):

    print('\n**********')
    print(string_expression)
    print('Value : {}'.format(expression))
    print('Type : {}'.format(type(expression)))

**********
2**3.0 + 4
Value : 12.0
Type : <class 'float'>

**********
2**3 + 4
Value : 12
Type : <class 'int'>

**********
(2**3.0) + 4
Value : 12.0
Type : <class 'float'>

**********
2**(3.0 + 4)
Value : 128.0
Type : <class 'float'>

**********
True or 4>3 and 3>4
Value : True
Type : <class 'bool'>

**********
(True or 4>3) and 3>4
Value : False
Type : <class 'bool'>

**********
True or (4>3 and 3>4)
Value : True
Type : <class 'bool'>

**********
5%3*5
Value : 10
Type : <class 'int'>

**********
(5%3)*5
Value : 10
Type : <class 'int'>

**********
5%(3*5)
Value : 5
Type : <class 'int'>

**********
5//3*5
Value : 5
Type : <class 'int'>

**********
5//(3*5)
Value : 0
Type : <class 'int'>

**********
(5//3)*5
Value : 5
Type : <class 'int'>

**********
not False and False
Value : False
Type : <class 'bool'>

**********
(not False) and False
Value : False
Type : <class 'bool'>

**********
not (False and False)
Value : True
Type : <class 'bool'>

**********
8.6 + 2
Value : 10.6
Type : <class 'float'>

**********
int(8.6) + 2
Value : 10
Type : <class 'int'>

**********
int(8.6) + 2.4
Value : 10.4
Type : <class 'float'>

**********
int(8.6 + 2.4)
Value : 11
Type : <class 'int'>

**********
2*3
Value : 6
Type : <class 'int'>

**********
2.0 * 3
Value : 6.0
Type : <class 'float'>

**********
float(2) * 3
Value : 6.0
Type : <class 'float'>

## II. Lists

#### Exercise 2 : Lists

In [3]:
my_list = []
for i in range(10):
    my_list.append(i)

print(my_list)

list2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] # By hand
list3 = [i for i in range(10)] # List comprehension
list4 = list(range(10)) # range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Exercice 3 : Slicing

In [5]:
list1 = my_list[:3]
list2 = my_list[-1:]
list3 = [i for i in my_list if i % 2 == 0]
list4 = my_list[::-1]
list5 = my_list + my_list + my_list
list6 = my_list[:3] + my_list[-4:]
list8 = my_list[8:1:-2]

#### Exercice 4 : List comprehension

In [6]:
list1 = [i**2 for i in range(100) if i % 2 == 0]
list2 = [math.sqrt(i) for i in range(1000)]
list3 = [(i, j) for i in range(10) for j in range(10)]
#list4 = [math.factorial(i) for i in range(10)]
list4 = [ [k*i for i in range(10)] for k in range(10)]
print(list4)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 2, 4, 6, 8, 10, 12, 14, 16, 18], [0, 3, 6, 9, 12, 15, 18, 21, 24, 27], [0, 4, 8, 12, 16, 20, 24, 28, 32, 36], [0, 5, 10, 15, 20, 25, 30, 35, 40, 45], [0, 6, 12, 18, 24, 30, 36, 42, 48, 54], [0, 7, 14, 21, 28, 35, 42, 49, 56, 63], [0, 8, 16, 24, 32, 40, 48, 56, 64, 72], [0, 9, 18, 27, 36, 45, 54, 63, 72, 81]]

## III. For Loops

#### Exercice 5 : For loop

In [7]:
n = 1000 # You need to put a big value to n

# 1 
a = 0

for i in range(n):
    a += i + 1
    
expr = n*(n+1) / 2
print(a)
print(expr)

print( a == expr) # Return True

500500
500500.0
True

In [8]:
#2
a = 0

for i in range(n):
    a += (i+1)**2
expr = n*(n+1)*(2*n+1)/6

print(a)
print(expr)
print( a == expr) # Return True

333833500
333833500.0
True

In [9]:
#3
a = 0

for i in range(n):
    a += 1 / ((i+1) ** 2)

expr = math.pi ** 2 / 6
print(a)
print(expr)
print(a == expr) # Return False as the equality is not exact
print(abs(a - expr) < 1e-3) # Return True

1.6439345666815615
1.6449340668482264
False
True

In [11]:
#4
a = 0
for i in range(n):
    a += (-1)**i / (i+1)
expr = math.log(2)
print(a)
print(expr)
print(a == expr) # Return False as the equality is not exact
print(abs(a - expr) < 1e-3) # Return True

0.6926474305598223
0.6931471805599453
False
True

In [10]:
#5
a = 0
for i in range(n):
    a += (-1)**i / (2*i+1)
expr = math.pi / 4
print(a)
print(expr)
print(a == expr) # Return False as the equality is not exact
print(abs(a - expr) < 1e-3) # Return True

0.7851481634599485
0.7853981633974483
False
True

In [12]:
#6
a = 0
for i in range(n):
    a += 1 / math.factorial(i)
expr = math.exp(1)

print(a)
print(expr)
print(a == expr) # Return False as the equality is not exact
print(abs(a - expr) < 1e-3) # Return True

2.7182818284590455
2.718281828459045
False
True

In [13]:
# An other solution to do the exercice with less code to write
def f1(i):
    return i + 1
def f2(i):
    return (i+1)**2
def f3(i):
    return 1 / ((i+1) ** 2)
def f4(i):
    return (-1)**(i) / (i+1)
def f5(i):
    return (-1)**i / (2*i+1)
def f6(i):
    return 1 / math.factorial(i)

list_functions = [f1, f2, f3, f4, f5, f6]
list_sum = [n*(n+1) / 2, n*(n+1)*(2*n+1)/6, math.pi ** 2 / 6, math.log(2), math.pi / 4, math.exp(1)]

def sum_n(f, n):
    # A function sum with f equal to a function
    a = 0
    for i in range(n):
        a += f(i)
    return a

for f, expr in zip(list_functions, list_sum):
    
    a = sum_n(f, n)
    print(a)
    print(expr)
    print(a == expr) # Return False as the equality is not exact
    print(abs(a - expr) < 1e-3) # Return True

500500
500500.0
True
True
333833500
333833500.0
True
True
1.6439345666815615
1.6449340668482264
False
True
0.6926474305598223
0.6931471805599453
False
True
0.7851481634599485
0.7853981633974483
False
True
2.7182818284590455
2.718281828459045
False
True

#### Exercice 6

In [16]:
def sum_list(a_list):
    n = len(a_list)
    a = 0

    for i in range(n):
        a += a_list[i]

    return a

my_list = [1, 2, 3]
sum_list(my_list)

6

In [17]:
# Fibonacci
list_fibo = [0, 1]
for i in range(98):
    list_fibo.append(list_fibo[-2] + list_fibo[-1])

print(list_fibo)
print(sum_list(list_fibo))

#recursive way for later

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]
573147844013817084100

In [18]:
# Triangular
list_triangular = [0]
for i in range(1,100):
    list_triangular.append(list_triangular[-1] + i)

print(list_triangular)

print(sum_list(list_triangular))

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325, 351, 378, 406, 435, 465, 496, 528, 561, 595, 630, 666, 703, 741, 780, 820, 861, 903, 946, 990, 1035, 1081, 1128, 1176, 1225, 1275, 1326, 1378, 1431, 1485, 1540, 1596, 1653, 1711, 1770, 1830, 1891, 1953, 2016, 2080, 2145, 2211, 2278, 2346, 2415, 2485, 2556, 2628, 2701, 2775, 2850, 2926, 3003, 3081, 3160, 3240, 3321, 3403, 3486, 3570, 3655, 3741, 3828, 3916, 4005, 4095, 4186, 4278, 4371, 4465, 4560, 4656, 4753, 4851, 4950]
166650



#### Exercice 7

In [19]:
num = math.factorial(1000)

# First solution, we transform the int in a str with "str", then we made a loop on every digit of the string.
# We need to convert the string back into int in order to sum them
def sum_digits(n):
    sum = 0
    for s in str(num):
        sum += int(s)
    return sum

# The second solution is more mathematical. 
# We calulcate the rest of the integer division of n by 10 and then divide n by 10. 
# The while loop will stop as we divide n by 10. 
    
def sum_digits_v2(n):
    s = 0
    while n >0:
        s += n % 10
        n //= 10
    return s


print(sum_digits(num))
print(sum_digits_v2(num))

10539
10539

## IV. Conditional loop: If / While

#### Exercice 8

In [20]:

def print_bigger(a, b):
    
    if a < b:
        print('a : {} is bigger than b : {}'.format(a, b))
    elif a == b:
        print('a : {} is equal to b : {}'.format(a, b))
    else:
        print('b : {} is bigger than a : {}'.format(b, a))
    # We don't return anything
    
print_bigger(1, 6)
print_bigger(8, 2)
print_bigger(0, 0)

a : 1 is bigger than b : 6
b : 2 is bigger than a : 8
a : 0 is equal to b : 0

In [21]:
def print_even(n):
    if n % 2 == 0:
        print('n : {} is even'.format(n))
    else:
        print('n : {} is odd'.format(n))
print_even(12)
print_even(11)

n : 12 is even
n : 11 is odd

In [22]:
def print_grades(grade):
    
    if grade < 0 or grade > 20:
        print('The grade should be between 0 and 20')
        return # We want to go out of the function
    
    if grade < 10:
        print('You failed the exam. Work more !')
    elif grade < 15:
        print('You pass the exam. But I am sure you can do better.')
    elif grade < 18:
        print('You did good job. It is almost perfect !')
    else:
        print('It is perfect. Congratulations !')
        
print_grades(5)
print_grades(12)
print_grades(19)

You failed the exam. Work more !
You pass the exam. But I am sure you can do better.
It is perfect. Congratulations !

In [23]:
def polynom_roots(a, b, c):
    
    delta = b**2 - 4*a*c
    
    if delta > 0:
        x1 = (-b - math.sqrt(delta) ) / (2*a)
        x2 = (-b + math.sqrt(delta) ) / (2*a)
        
        print('The polynom has two real roots : {} and {}'.format(x1, x2))
        
        return x1, x2
    elif delta == 0:
        x = (-b ) / (2*a)
        print('The polynom has only one real roots : {}'.format(x))
        return x
    else:
        print('The polynom have no real roots, only complex roots')
        return None
    
polynom_roots(1, 4, 1)
polynom_roots(1, 0, -4)
polynom_roots(1, 0, 0)

The polynom has two real roots : -3.732050807568877 and -0.2679491924311228
The polynom has two real roots : -2.0 and 2.0
The polynom has only one real roots : 0.0

0.0

In [24]:
# Exercice 9 Bissextile year
def bissextile(year):

    if year < 1582:
        return (year % 4) == 0
    elif (year % 4) == 0 and not ((year % 100) == 0):
        return True
    elif (year % 400 == 0):
        return True
    else:
        return False


for year in range(2000, 2021):
    if bissextile(year):
        print('The year {} is bissextile'.format(year))
    else:
        print('The year {} is not bissextile'.format(year))


def find_first_bissextile(year):
    
    find_year = year
    while not bissextile(find_year):
        find_year += 1
    print('The first bissextile year after {} is : {}'.format(year, find_year))

The year 2000 is bissextile
The year 2001 is not bissextile
The year 2002 is not bissextile
The year 2003 is not bissextile
The year 2004 is bissextile
The year 2005 is not bissextile
The year 2006 is not bissextile
The year 2007 is not bissextile
The year 2008 is bissextile
The year 2009 is not bissextile
The year 2010 is not bissextile
The year 2011 is not bissextile
The year 2012 is bissextile
The year 2013 is not bissextile
The year 2014 is not bissextile
The year 2015 is not bissextile
The year 2016 is bissextile
The year 2017 is not bissextile
The year 2018 is not bissextile
The year 2019 is not bissextile
The year 2020 is bissextile

#### Exercise 10

In [25]:
i = 0

while i < 25:
    if (i % 3) == 0:
        print(i)
    i += 1

0
3
6
9
12
15
18
21
24

In [26]:
for i in range(25):
    if (i % 3) == 0:
        print(i)

0
3
6
9
12
15
18
21
24

In [27]:
def f(n):
    return n**2 + 3*n

n = 0
while f(n+1) < 1000:
    n += 1
print(n)
print(f(n))

30
990

In [28]:
# With a for loop we need to know where to stop
# We know than n**2 + 3*n > n**2 > (n-1)**2 + 3(n-1), so we can stop at sqrt(1000) =
max_ite = int(math.sqrt(1000)) + 1
n = 0
for i in range(max_ite):
    if f(i) < 1000:
        n = i
print(n)
print(f(n))

#The for loop version is more complicated

30
990

In [29]:
a = 0
n = 1
while (a + n) < 1000:
    a += n
    n += 1

print('Value of the sum : {}'.format(a))
print('Value of n : {}'.format(n))
    
#

Value of the sum : 990
Value of n : 45

In [30]:
initial_value = 2000
interest_rate = 2.25 / 100

def find_year(initial_value, interest_rate, maximum_value):
    
    current_value = initial_value
    year = 0
    while current_value < maximum_value:
        
        current_value += current_value*interest_rate
        year += 1
        print('Year {} Capital : {}'.format(year, current_value))
    
    print('In year {} the capital will be equal to {} and bigger than {}'.format(year, current_value, maximum_value))
    return current_value, year

find_year(initial_value, interest_rate, 3000)
find_year(initial_value, interest_rate, 10000)

Year 1 Capital : 2045.0
Year 2 Capital : 2091.0125
Year 3 Capital : 2138.0602812499997
Year 4 Capital : 2186.1666375781247
Year 5 Capital : 2235.3553869236325
Year 6 Capital : 2285.650883129414
Year 7 Capital : 2337.0780279998257
Year 8 Capital : 2389.662283629822
Year 9 Capital : 2443.429685011493
Year 10 Capital : 2498.4068529242513
Year 11 Capital : 2554.621007115047
Year 12 Capital : 2612.0999797751356
Year 13 Capital : 2670.8722293200763
Year 14 Capital : 2730.966854479778
Year 15 Capital : 2792.4136087055726
Year 16 Capital : 2855.242914901448
Year 17 Capital : 2919.4858804867304
Year 18 Capital : 2985.174312797682
Year 19 Capital : 3052.34073483563
In year 19 the capital will be equal to 3052.34073483563 and bigger than 3000
Year 1 Capital : 2045.0
Year 2 Capital : 2091.0125
Year 3 Capital : 2138.0602812499997
Year 4 Capital : 2186.1666375781247
Year 5 Capital : 2235.3553869236325
Year 6 Capital : 2285.650883129414
Year 7 Capital : 2337.0780279998257
Year 8 Capital : 2389.662283629822
Year 9 Capital : 2443.429685011493
Year 10 Capital : 2498.4068529242513
Year 11 Capital : 2554.621007115047
Year 12 Capital : 2612.0999797751356
Year 13 Capital : 2670.8722293200763
Year 14 Capital : 2730.966854479778
Year 15 Capital : 2792.4136087055726
Year 16 Capital : 2855.242914901448
Year 17 Capital : 2919.4858804867304
Year 18 Capital : 2985.174312797682
Year 19 Capital : 3052.34073483563
Year 20 Capital : 3121.0184013694316
Year 21 Capital : 3191.241315400244
Year 22 Capital : 3263.0442449967495
Year 23 Capital : 3336.4627405091765
Year 24 Capital : 3411.533152170633
Year 25 Capital : 3488.292648094472
Year 26 Capital : 3566.7792326765975
Year 27 Capital : 3647.0317654118207
Year 28 Capital : 3729.089980133587
Year 29 Capital : 3812.9945046865923
Year 30 Capital : 3898.7868810420405
Year 31 Capital : 3986.5095858654863
Year 32 Capital : 4076.2060515474595
Year 33 Capital : 4167.9206877072775
Year 34 Capital : 4261.698903180692
Year 35 Capital : 4357.587128502257
Year 36 Capital : 4455.632838893557
Year 37 Capital : 4555.884577768662
Year 38 Capital : 4658.391980768457
Year 39 Capital : 4763.205800335747
Year 40 Capital : 4870.377930843301
Year 41 Capital : 4979.961434287276
Year 42 Capital : 5092.010566558739
Year 43 Capital : 5206.580804306311
Year 44 Capital : 5323.728872403202
Year 45 Capital : 5443.512772032274
Year 46 Capital : 5565.991809403001
Year 47 Capital : 5691.226625114568
Year 48 Capital : 5819.279224179646
Year 49 Capital : 5950.213006723688
Year 50 Capital : 6084.09279937497
Year 51 Capital : 6220.984887360907
Year 52 Capital : 6360.957047326528
Year 53 Capital : 6504.078580891374
Year 54 Capital : 6650.42034896143
Year 55 Capital : 6800.054806813062
Year 56 Capital : 6953.0560399663555
Year 57 Capital : 7109.499800865598
Year 58 Capital : 7269.463546385075
Year 59 Capital : 7433.026476178738
Year 60 Capital : 7600.26957189276
Year 61 Capital : 7771.275637260347
Year 62 Capital : 7946.129339098705
Year 63 Capital : 8124.917249228426
Year 64 Capital : 8307.727887336066
Year 65 Capital : 8494.651764801129
Year 66 Capital : 8685.781429509154
Year 67 Capital : 8881.21151167311
Year 68 Capital : 9081.038770685755
Year 69 Capital : 9285.362143026185
Year 70 Capital : 9494.282791244274
Year 71 Capital : 9707.90415404727
Year 72 Capital : 9926.331997513333
Year 73 Capital : 10149.674467457382
In year 73 the capital will be equal to 10149.674467457382 and bigger than 10000

(10149.674467457382, 73)

## V. Dictionary

#### Exercice 11

In [31]:
scores = {'John': 10, 'Eleonor': 12, 'Angela': 18, 'Nicolas': 15}

print(scores)

# Print all the keys
for key in scores.keys():
    print('{}'.format(key))

# Print all the values
for value in scores.values():
    print('{}'.format(value))

# Print all the keys and values
for key, value in scores.items():
    print('{} : {}'.format(key, value)) 
    
scores['Lea'] = 16 # New score
scores['Angela'] = 13 # Modify one score
del scores['Nicolas'] # Delete one score
print(scores)

{'John': 10, 'Eleonor': 12, 'Angela': 18, 'Nicolas': 15}
John
Eleonor
Angela
Nicolas
10
12
18
15
John : 10
Eleonor : 12
Angela : 18
Nicolas : 15
{'John': 10, 'Eleonor': 12, 'Angela': 13, 'Lea': 16}

In [36]:
# Calculate the average score
a = 0
for value in scores.values():
    a += value

a /= len(scores.values())

# Calculate the minimal score
print(min(scores.values())) # Without a for loop

minimum_value = 1e9
maximum_value = -1e9

# With a loop # both in the same loop
for key, value in scores.items():
    
    if value < minimum_value:
        minimum_value = value
        minimum_key = key
        
    if value > maximum_value:
        maximum_value = value
        maximum_key = key
        
print('Minimum value : {} Minimum key : {}'.format(minimum_value, minimum_key))
print('Maximum value : {} Maximum key : {}'.format(maximum_value, maximum_key))

10
Minimum value : 10 Minimum key : John
Maximum value : 16 Maximum key : Lea

#### Exercice 12

In [37]:
ID = {'John': {'Sex': 'M', 'Size': 155, 'Age': 12, 'City': 'Paris'},
      'Eleonor': {'Sex': 'F', 'Size': 122, 'Age': 8, 'City': 'Londres'},
      'Angela': {'Sex': 'F', 'Size': 180, 'Age': 16, 'City': 'Berlin'},
      'Nicolas': {'Sex': 'M', 'Size': 140, 'Age': 18, 'City': 'Londres'},
      'Lea': {'Sex': 'F', 'Size': 165, 'Age': 10, 'City': 'Porto'},
      'Isidore': {'Sex': 'M', 'Size': 110, 'Age': 12, 'City': 'Rome'},
      'Joaquim': {'Sex': 'M', 'Size': 170, 'Age': 15, 'City': 'Madrid'}}

# Average size and age 
ages = 0
sizes = 0
for values in ID.values():
    print(values)
    if 'Age' in values.keys(): # test for Donald
        ages += values['Age']
    if 'Size' in values.keys(): # test
        sizes += values['Size']
        
print('Mean age : {}'.format(ages / len(ID)))
print('Mean size : {}'.format(sizes / len(ID)))

{'Sex': 'M', 'Size': 155, 'Age': 12, 'City': 'Paris'}
{'Sex': 'F', 'Size': 122, 'Age': 8, 'City': 'Londres'}
{'Sex': 'F', 'Size': 180, 'Age': 16, 'City': 'Berlin'}
{'Sex': 'M', 'Size': 140, 'Age': 18, 'City': 'Londres'}
{'Sex': 'F', 'Size': 165, 'Age': 10, 'City': 'Porto'}
{'Sex': 'M', 'Size': 110, 'Age': 12, 'City': 'Rome'}
{'Sex': 'M', 'Size': 170, 'Age': 15, 'City': 'Madrid'}
Mean age : 13.0
Mean size : 148.85714285714286

In [38]:
# Number of boy and girl
nb_girl = 0
nb_boy = 0

for values in ID.values():
    if values['Sex'] == 'F':
        nb_girl += 1
    elif values['Sex'] == 'M':
        nb_boy += 1

print('Number boy : {}'.format(nb_boy))
print('Number girl : {}'.format(nb_girl))

Number boy : 4
Number girl : 3

In [39]:
# Average size and age of boys and girls
ages_f = 0
sizes_f = 0
ages_m = 0
sizes_m = 0

for values in ID.values():
    if 'Age' in values.keys(): # Correction for Donald
        if values['Sex'] == 'F':
            ages_f += values['Age']
        elif values['Sex'] == 'M':
            ages_m += values['Age']
    else:
        print('The key Age is not in {}'.format(values))
        
    if 'Size' in values.keys(): # Correction for Donald
        if values['Sex'] == 'F':
            sizes_f += values['Size']
        elif values['Sex'] == 'M':
            sizes_m += values['Size']
    else:
        print('The key Size is not in {}'.format(values))
        
print('** Boy **')
print('Mean age : {}'.format(ages_m / nb_boy))
print('Mean size : {}'.format(sizes_m / nb_boy))

print('** Girl **')
print('Mean age : {}'.format(ages_f / nb_girl))
print('Mean size : {}'.format(sizes_f / nb_girl))

** Boy **
Mean age : 14.25
Mean size : 143.75
** Girl **
Mean age : 11.333333333333334
Mean size : 155.66666666666666

In [40]:
# List of the unique city

list_unique_City = []
for values in ID.values():
    if 'City' in values.keys():
        if values['City']  not in list_unique_City:
            list_unique_City.append(values['City'])
    
print(list_unique_City)
print(set(list_unique_City))

# faster with comprehension list 
print(set([x['City'] for x in ID.values() if 'City' in x]))

['Paris', 'Londres', 'Berlin', 'Porto', 'Rome', 'Madrid']
{'Berlin', 'Paris', 'Rome', 'Porto', 'Madrid', 'Londres'}
{'Berlin', 'Paris', 'Rome', 'Porto', 'Madrid', 'Londres'}

In [41]:
# In order to handle the new dictionnary, we need to have "if 'Age' in value" and if "Size" in value
# to be sure that the key is inside the dictionnary
ID['Donald'] = {'Sex':'M'}